.buttoncontainer {
    position: absolute; /* Make the button container positioned */
  top: 200px; /* Set the top position to push it down below the header */
  left: 50%; /* Center the container horizontally */
  transform: translateX(-50%); /* Center the container horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .button {
    width: 350px;
    height: 100px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    background-color: #2A8C75;
    cursor: pointer;
  }

  .button:first-child{
    margin-right: 300px;
  }