.header {
  position: relative;
  width: 100%;
  background-color: #9C162B;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header > h1 {
  margin-left: 3%;
}
